.App-logo {
  height: 40px;
}

#signature {
  margin-right: 12px;
}

#session {
  margin-left: 12px;
}

#Set-button {
  margin-left: 24px;
}

#listKey {
  flex: 1;
}

#listValue {
  flex: 4;
}

#list-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 24px;
}

.Card {
  width: 100%;
  max-width: 500px;
}
